/*banner*/

.banner {
    position: relative;
}

.container-fluid {
    padding: 0;
}

.carousel-inner>.item>a {
    display: block;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-control {
    display: block;
    width: 50px;
    height: 100px;
}

.carousel-control.left {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    background-image: url(../img/bannerprev.png);
}

.carousel-control.right {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    background-image: url(../img/bannernextv.png);
}

.carousel-control.left:hover {
    background-image: url(../img/bannerprev_over.png);
}

.carousel-control.right:hover {
    background-image: url(../img/bannernextv_over.png);
}

.carousel-indicators .active {
    background-color: #d51919;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: none;
}

@media screen and (max-width: 800px) {
    .carousel-indicators li,
    .carousel-indicators .active {
        width: 6px;
        height: 6px;
    }
}

.carousel-cap {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .carousel-cap {
        top: 25%;
    }
}

@media screen and (max-width: 1024px) {
    .carousel-cap {
        top: 30%;
    }
}

.cap-box {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    display: inline-block;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    animation: mainBannerDown 500ms ease-out 400ms forwards;
    -moz-animation: mainBannerDown 500ms ease-out 400ms forwards;
    -webkit-animation: mainBannerDown 500ms ease-out 400ms forwards;
}

@-webkit-keyframes mainBannerDown {
    0% {
        top: -50px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@media screen and (max-width:1280px) {
    .cap-box {
        width: 65%;
    }
}

@media screen and (max-width: 1024px) {
    .cap-box {
        width: 80%;
        border: 2px solid #fff;
    }
}

@media screen and (max-width: 640px) {
    .cap-box {
        border: 1px solid #fff;
    }
}

@media screen and (max-width: 640px) {
    .cap-box:hover {
        border: 1px solid #cc3434;
    }
}

@media screen and (max-width: 1024px) {
    .cap-box:hover {
        border: 2px solid #cc3434;
    }
}

.cap-box:hover {
    border: 3px solid #cc3434;
    background-color: rgba(0, 0, 0, 0.5);
}

.cap-box a:link,
.cap-box a:visited {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 20px 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
    .cap-box a:link,
    .cap-box a:visited {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 800px) {
    .cap-box a:link,
    .cap-box a:visited {
        padding: 10px 20px;
    }
}

.cap-img {
    width: 10%;
    max-width: 90px;
    min-width: 55px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 640px) {
    .cap-img {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.cap-img img {
    width: 100%;
    min-height: inherit !important;
}

.cap-word {
    width: 80%;
    padding-left: 40px;
}

@media screen and (max-width: 640px) {
    .cap-word {
        padding: 0px;
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .cap-word {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .cap-word {
        padding-left: 30px;
    }
}

.cap-word .title {
    font-size: 3em;
    line-height: 1em;
    display: block;
    text-shadow: 0px 1px 2px #666;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .cap-word .title {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .cap-word .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 1280px) {
    .cap-word .title {
        font-size: 2.3em;
    }
}

.cap-word .name {
    font-size: 2em;
    line-height: 1em;
    display: block;
    padding-top: 10px;
    text-shadow: 0px 1px 2px #666;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .cap-word .name {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .cap-word .name {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1280px) {
    .cap-word .name {
        font-size: 1.8em;
    }
}

.cap-word .brief {
    display: block;
    font-size: 1.6em;
    line-height: 1.8em;
    padding-top: 10px;
    text-shadow: 0px 1px 2px #666;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .cap-word .brief {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .cap-word .brief {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1280px) {
    .cap-word .brief {
        font-size: 1.4em;
    }
}

.firstSec {
    padding: 60px 0;
}

.firstSec h4,
.thrSec h4 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2em;
    border-top: 2px solid #CC3434;
    border-bottom: 2px solid #CC3434;
    color: #CC3434;
    box-sizing: border-box;
    font-size: 1.8em;
    margin: 0px auto 40px auto;
}

.topic-item {
    max-width: 640px;
    height: auto;
    background-color: #666;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topic-cover {
    width: 100%;
    height: 100%;
    background-color: #cc3434;
    background-color: rgba(204, 52, 52, 0.9);
    position: absolute;
    z-index: 5;
    overflow: hidden;
    text-align: center;
    top: -100%;
    left: 0;
}

.topic-cover a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .topic-cover a {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 480px) {
    .topic-cover a {
        padding: 5px 5px;
    }
}

.topic-cover h2 {
    font-size: 1.8em;
    display: block;
    line-height: 2.8em;
    font-weight: normal;
    letter-spacing: 1px;
    padding-bottom: 0px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .topic-cover h2 {
        font-size: 1.6em;
        display: block;
        line-height: 2.4em;
        font-weight: normal;
        letter-spacing: 1px;
    }
}

.topic-cover .topic-desc {
    font-size: 1.4em;
    line-height: 1.6em;
    padding-top: 10px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .topic-cover .topic-desc {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .topic-cover .topic-desc {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topic-cover .topic-desc {
        font-size: 1.4em;
        line-height: 1.6em;
        padding-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .topic-cover .topic-desc {
        display: none;
    }
}

.topic-cover .headbox {
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .topic-cover .headbox {
        margin-top: 0px;
    }
}

.topic-cover .headbox .title {
    font-size: 1.4em;
    color: #ccc;
    line-height: 2.4em;
    display: block;
}

.topic-cover .topicBoxHeadBoxList {
    margin: 0 auto;
    display: inline-block;
    max-width: 360px;
    text-align: center;
}

.topic-cover .topicBoxHeadBoxList li {
    width: 20%;
    padding: 0px 5px;
    width: 72px;
    float: left;
    box-sizing: border-box;
}

.topic-cover .topicBoxHeadBoxList .baseHeadContent {
    width: 100%;
    max-width: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 1px 2px #333;
    overflow: hidden;
    box-sizing: border-box;
}

.topic-cover .topicBoxHeadBoxList .baseHeadContent img {
    width: 100%;
    float: left;
}

.topic-cover .headbox .title {
    font-size: 1.4em;
    color: #ccc;
    line-height: 2.4em;
    display: block;
}

.topic-cover .topicBoxHeadBoxList .name {
    line-height: 1.4em;
    font-size: 1.2em;
    display: block;
    padding-top: 5px;
}

@media screen and (max-width: 480px) {
    .topic-cover .topicBoxHeadBoxList .name {
        line-height: 1em;
        font-size: 0.8em;
        display: block;
        padding-top: 4px;
    }
}

.topic-link:link,
.topic-link:visited {
    width: 80%;
    max-width: 320px;
    height: 80px;
    display: block;
    line-height: 80px;
    color: #fff;
    border: 2px solid #fff;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.8em;
    letter-spacing: 2px;
    text-shadow: 0px 1px 2px #999;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 20%;
    position: relative;
}

@media screen and (max-width: 480px) {
    .topic-link:link,
    .topic-link:visited {
        height: 60px;
        line-height: 60px;
    }
}

.topic-link:hover,
.topic-link:active {
    border: 2px solid #CC3434;
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.gray {
    background-color: #f2f2f2;
    padding: 80px 0px;
}

.gray h4 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2em;
    background-color: #CC3434;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.8em;
    margin: 0px auto 40px auto;
}

.paragraphBox {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.baseParagraph {
    font-size: 1.8em;
    line-height: 2em;
    display: block;
}

.paragraphBox .name {
    color: #666;
    padding-top: 10px;
    font-size: 1.4em;
    line-height: 2em;
    display: block;
}


/*lecture*/

.thrSec {
    padding: 60px 0px;
}