.autoHeight {
    height: auto !important;
}


/*banner*/

.lecBanner {
    position: relative;
}

.container-fluid {
    padding: 0;
}

.carousel-inner>.item>.fouBnnerForDetail {
    width: 100%;
    height: 350px;
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/lectureAllBnn.jpg);
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 3em;
    line-height: 40px;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 3em;
        line-height: 40px;
        display: block;
        clear: both;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 2.4em;
        line-height: 1em;
        text-align: center;
    }
}

.listChangesBox {
    float: right;
}

@media screen and (max-width: 800px) {
    .listChangesBox {
        float: none;
    }
}

.listChangesBox ul {
    height: 40px;
}

.listChangesBox ul li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #dedede;
    text-indent: 1em;
    margin-left: 20px;
}

.listChangesBox ul .select {
    background-color: #cc3434;
}

.listChangesBox ul li a {
    color: #fff;
    display: block;
}

.listChangesBox ul .select a {
    cursor: default;
}

.listChangesBox .listAll {
    background-image: url(../img/list_all.png);
    background-position: 112px center;
    background-repeat: no-repeat;
    font-size: 1.3em;
}

.listChangesBox .listTime {
    background-image: url(../img/list_time.png);
    background-position: 112px center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 1.3em;
}

.dropDownListTime {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    border-left: 1px dashed #fff;
    top: 0px;
    right: 0px;
    background-color: #cc3434;
    background-image: url(../img/dropDown.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
}

.dropDownListTime ul {
    display: none;
    position: absolute;
    right: 0px;
    top: 40px;
    border-top: 1px solid #fff;
    width: 140px;
    padding: 0px;
    height: 400px;
    overflow-y: scroll;
}

.dropDownListTime ul li {
    margin: 0px;
    border-bottom: 1px solid #bbb;
    background-color: #aaa;
}

.dropDownListTime ul li a:link,
.dropDownListTime ul li a:active,
.dropDownListTime ul li a:hover,
.dropDownListTime ul li a:visited {
    display: block;
    cursor: pointer;
}

.listChangesBox .listClass {
    background-image: url(../img/list_class.png);
    background-position: 112px center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 1.3em;
}

@media screen and (max-width: 800px) {
    .listChangesBox .listAll {
        background-image: url(../img/list_all.png);
        background-position: 85% center;
        background-repeat: no-repeat;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 800px) {
    .listChangesBox .listTime {
        background-image: url(../img/list_time.png);
        background-position: 85% center;
        background-repeat: no-repeat;
        position: relative;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 800px) {
    .listChangesBox .listClass {
        background-image: url(../img/list_class.png);
        background-position: 85% center;
        background-repeat: no-repeat;
        position: relative;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 800px) {
    .dropDownListTime {
        border: none;
    }
}

@media screen and (max-width: 800px) {
    .listChangesBox ul li {
        width: 33%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .dropDownListTime ul {
        width: 120px;
    }
    .dropDownListTime ul li {
        width: 100%;
    }
}

.dropDownListTime ul li:hover {
    background-color: #999;
}

.pageSelectBox {
    padding-top: 20px;
    width: 100%;
}

.pageSelectList {
    margin: 0 auto;
    display: block;
    line-height: 40px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .pageSelectList {
        margin: 0 auto;
        display: block;
        line-height: 44px;
        text-align: left;
    }
}

.pageSelectList a:link,
.pageSelectList a:visited {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    margin: 0px 10px;
    color: #fff;
    font-size: 1.3em;
}

.pageSelectList a:hover {
    background-color: #cc3434;
}

@media screen and (max-width: 800px) {
    .pageSelectList a:link,
    .pageSelectList a:visited {
        display: inline-block;
        width: 20%;
        box-sizing: border-box;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        height: 44px;
        line-height: 44pxpx;
        background-color: #ccc;
        margin: 0px;
        color: #fff;
        text-align: center;
        font-style: 1.3em;
    }
}

.pageSelectList a.active {
    background-color: #cc3434;
    color: #fff;
    cursor: default;
}

@media screen and (max-width: 800px) {
    .pageSelectList a.active {
        background-color: #cc3434;
        color: #fff;
        cursor: default;
    }
}